<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Moq" version="4.8.2" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net471" />
</packages>